.background {
  background-image: var(--background-image);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  @apply m-0 w-full h-screen flex relative lg:p-0;
}

.background-decor-left {
  height: 100%;
  position: absolute;
  left: 0;
}

.background-decor-right {
  height: 100%;
  position: absolute;
  right: 0;
}

.content {
  position: absolute;
  top: 20%;
  left: 80px;
  width: 50%;
}

.tagline {
  font-family: "Degular";
  font-size: 2rem;
  font-weight: 600;
  color: var(--background-text-color);
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  );
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}

.title {
  font-weight: 900;
  color: var(--background-text-color);
  @apply font-degular text-5xl lg:text-[5rem] mt-3 mb-5;
}

.description {
  color: var(--description-color);
  @apply text-lg xl:text-xl/relaxed;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text-rotate .wrap::after {
  content: "|";
  animation: blink 1s infinite;
  margin-left: 5px;
  color: rgb(175, 64, 175);
  font-weight: 400;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.astronaut {
  animation: float 3s ease-in-out infinite;
  @apply absolute bottom-12 right-8 w-1/2 md:top-[45%] lg:top-[25%] xl:top-[20%] lg:right-0 xl:right-[100px] md:w-1/3 lg:w-1/4 xl:w-1/3 2xl:w-[450px] z-0;
}

.floating-1 {
  animation: float 3s ease-in-out infinite;
  @apply absolute bottom-12 right-0 w-1/2 lg:top-[15%] xl:top-[20%] lg:right-0 xl:right-[100px] lg:w-1/3 xl:w-[450px] z-0;
}

.floating-2 {
  animation: float 3s ease-in-out infinite;
  @apply absolute bottom-3 w-2/5 xl:top-[55%] lg:right-0 xl:right-[400px] xl:w-[300px] z-0;
}
