.title-1 {
  color: var(--primary-text-color);
}

.description-1 {
  color: var(--primary-text-color);
}

.title-2 {
  color: var(--primary-text-color);
}

.description-2 {
  color: var(--primary-text-color);
}
