@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .custom-scrollbar {
    @apply [&::-webkit-scrollbar]:w-2
    [&::-webkit-scrollbar]:h-2
    [&::-webkit-scrollbar-track]:rounded-md
    [&::-webkit-scrollbar-track]:bg-gray-100 
    [&::-webkit-scrollbar-thumb]:rounded-md
    [&::-webkit-scrollbar-thumb]:bg-black/30
    dark:[&::-webkit-scrollbar-track]:bg-neutral-800 
    dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500;
    /* Khi hover vào scrollbar thì thumb đậm hơn */
    @apply [&::-webkit-scrollbar-thumb:hover]:bg-black/40
    dark:[&::-webkit-scrollbar-thumb:hover]:bg-neutral-300;
  }

  @keyframes gradient-wave {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .gradient-text {
    background-image: linear-gradient(90deg, #a440b8, #863cae, #372fd1);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-wave 3s infinite ease-in-out;
  }

  .pptx-genjs {
    li {
      white-space: pre-wrap !important;
    }
  }
}

:root {
  --background-image: url("./assets/images/home/bg.svg");
  --background-text-color: #fff;
  --primary-color: #6e52ee;
  --primary-text-color: #333;
  --description-color: #49265f;
  --text-color: #000;
}

[data-theme="dark"] {
  --background-image: url("./assets/images/home/background.png");
  --background-text-color: #fff;
  --primary-text-color: #fff;
  --primary-color: #6e52ee;
  --description-color: #bf9fd3;
  --text-color: #fff;
}

/** Avatar flowbite */
[data-testid="flowbite-avatar-img"] {
  object-fit: cover;
}

/** Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 62.5%; */
}

@font-face {
  font-family: "Magehand";
  src: url("./assets/fonts/Magehand/Magehand.ttf") format("opentype");
}

@font-face {
  font-family: "Degular";
  src: url("./assets/fonts/Degular/Degular-Black.otf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "Degular";
  src: url("./assets/fonts/Degular/Degular-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Degular";
  src: url("./assets/fonts/Degular/Degular-Semibold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Degular";
  src: url("./assets/fonts/Degular/Degular-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Degular";
  src: url("./assets/fonts/Degular/Degular-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Degular";
  src: url("./assets/fonts/Degular/Degular-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Degular";
  src: url("./assets/fonts/Degular/Degular-Thin.otf") format("opentype");
  font-weight: 100;
}
